*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;   /* Horizontally centers */
  align-items: center;       /* Vertically centers */
  height: 100vh;             /* Make body take full viewport height */
  margin: 0;                 /* Remove default margin */
}

main {
  width: 80%;                /* Adjust width as needed */
  max-width: 1200px;        /* Optional: limit the maximum width */
  background-color: rgb(226, 114, 175);
  padding-bottom: 40%;
}

header{
    text-align: center;
    color: white;
    font-size: 2rem;
}

input{
    border: 1px solid grey;
    border: none;
    width: 50%;
    padding: 15px 30px;
    border-radius: 5px;
    align-items: center;
    position: absolute;
    top: 20%;
    left: 20%;
    cursor: pointer;
    outline: none;
}

.search-button {
  background-color: #3498db;
  border: none;
  padding: 15px 30px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

button{
  position: absolute;
  top: 20%;
  left: 75%;
  padding: 15px 30px;
  background-color: #3498db;
  border: none;
  border-radius: 8px;
  color: white;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  outline: none;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

button:hover{
    transform: scale(1.1);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

button:active {
  background-color: #2980b9;
  transform: scale(0.95);
}

button {
    animation: pulse 1.5s infinite alternate;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.05);
  }
}


