/* Default (Light Mode) */
body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
  }

  header {
    padding: 20px;
    text-align: center;
  }

  button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Dark Mode */
  body.dark-mode {
    background-color: #121212;
    color: white;
  }

  body.dark-mode header {
    background-color: #333;
  }
